	<ion-view title="'Login'" >
	<ion-content has-header="true">
	<div class="card" id="topofpage" ng-controller="LoginCtrl">
	<div class="item item-divider">{{label}}
	<label class="item item-input">
		
<i id="ckeck1" class="icon ion-compose"></i> <input type="text" style ="border-radius: 8px" ng-model="user" placeholder="Username" /></label>
	  <p></p>
	  <label class="item item-input">  
<i id="ckeck2" class="icon ion-compose"></i><input type="password" style ="border-radius: 8px" ng-model="pass" placeholder="Password" /></label>

	   <p></p>

		<button class="button button-balanced"style ="border-radius: 8px" style="display: block" ng-click="login()" menu-close>Login</button>
 	</div> 
		
	</div>
		<br />
Not registered? Register <a href="#/app/register">Here</a>
	</ion-content>
	
	</ion-view>









